.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  color: #757575;
  font-style: normal;
  display: flex;
}

.header-mail,
.header-tel {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail {
  padding-right: 50px;
}

.nav-list {
  color: #212121;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: #2196f3;
}

.nav-list .nav-list-link.current::after {
  opacity: 1;
}

.nav-list .nav-list-link::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}

.header-mail, .header-tel {
  display: inline-flex;
  align-items: center;
  color: #757575;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: #2196f3;
}

.address {
  display: inline-flex;
  align-items: baseline;
}

.header-icon {
  width: 16px;
  height: 19px;
  fill: #757575;
  align-items: center;
  margin-right: 10px;
  margin-left: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon:hover, .header-icon:focus {
  fill: #2196f3;
}

.header-mail:hover .header-icon,
.header-mail:focus .header-icon,
.header-tel:hover .header-icon,
.header-tel:focus .header-icon {
  fill: #2196f3;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 400px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px auto;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.875;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-desktop@2x.jpg");
  }
}

.features-definition {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.features-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30px;
}

.features-container {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  padding: 25px 190px;
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list-item {
    display: block;
    max-width: 354px;
    height: 251px;
    margin-bottom: 30px;
    justify-content: center;
    flex-basis: calc(100%/2 - 30px);
  }
  .features-list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .features-container {
    display: flex;
    width: 354px;
    padding: 25px 142px;
  }
  .features-definition {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0px;
  }
  .features-list-item {
    max-width: 270px;
    flex-basis: calc(100%/4 - 30px);
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-container {
    width: 270px;
    padding: 25px 100px;
  }
  .features-description {
    padding-bottom: 0px;
  }
}

/*.title {
    @include font (28px, 700, 1.178);
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin-bottom: 30px;
  
   }


   @media screen and (min-width: 1200px) {
       .title {
        @include font (36px, 700, 1.166);
        margin-bottom: 50px;
       }
    }*/
.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .about {
    display: block;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-list .about-list-item {
    position: relative;
    flex-basis: calc(100%/3 - 60px);
  }
  .about-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .about-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .about-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.team {
  background-color: #f5f4fa;
}

.our-team-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.team-list {
  margin: 0;
}

.team-list-item {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item {
  margin-bottom: 30px;
}

.team-list-wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-undertitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.social-list {
  display: flex;
  width: 206px;
  height: 44px;
  align-items: center;
  margin: 0 auto;
  padding: 16px, 32, 30, 32;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-list-item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.166;
    margin-bottom: 50px;
  }
  .team-list-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.regular-customers-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.customers-list-item {
  justify-content: center;
  align-items: center;
  width: calc(100% / 2 - 30px);
  height: 90px;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover,
.customers-list-item:focus {
  border-color: #2196f3;
}

.customers-list-item:nth-child(2n) {
  margin-right: 0;
}

.customers-list-icon {
  fill: #afb1b8;
  align-items: center;
  height: 90px;
  /*width: 45px;
    height: 45px;*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: #2196f3;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list-item {
    width: calc(100% / 3 - 60px);
    margin-right: 30px;
  }
  .customers-list-item:nth-child(2n) {
    margin-right: 30px;
  }
  .customers-list-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
    width: 170px;
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .customers-list-item:nth-child(1n) {
    margin-right: 0;
  }
  .customers {
    display: flex;
    justify-content: space-between;
  }
  .regular-customers-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main-contacts {
  text-align: center;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address-list-item {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-location {
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: #2196f3;
}

.footer-logo-address {
  margin-bottom: 60px;
}

.connect {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-list-item:not(last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  align-items: center;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #ffffff;
}

.footer-connect {
  margin-bottom: 60px;
}

.join-up {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription-form {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-email {
  padding: 15px 16px;
  min-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.email-btn {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: left;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-btn:hover, .email-btn:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container-connect {
    flex-direction: column;
    margin-top: auto;
  }
  .footer-main-contacts {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .footer-logo-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    padding-bottom: 50px;
  }
  .footer-container-address {
    display: flex;
    align-items: baseline;
  }
  .footer-logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
  }
  .footer-address-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-logo-address {
    margin-right: 70px;
    margin-bottom: 0px;
  }
  .footer-connect {
    margin-right: 93px;
    margin-bottom: 0px;
  }
  .footer-main-contacts {
    text-align: left;
  }
  .join-up {
    text-align: left;
  }
  .subscription-form {
    display: flex;
  }
  .footer-email {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.btn-position {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

.icon-close-black:hover,
.icon-close-black:focus {
  fill: #2196f3;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding-right: 39px;
  padding-left: 41px;
  background: #ffffff;
  border-radius: 4px;
}

.form-call-to-action {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
}

.form-field,
.comment-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  margin: 0;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.comment-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-input:hover,
.comment:hover,
.form-field:focus-within > .form-input,
.comment-field:focus-within > .comment {
  border: 1px solid #2196f3;
  outline: none;
}

.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  line-height: 1.71;
  color: #212121;
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/svg-icons/Vector.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  color: #2196f3;
}

.form-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  transform: translateX(124px);
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus, .form-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */