.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-main-contacts{
  text-align: center;  
}

.footer-logo {
  display: block;
  font-family: $secondary-font;
  @include font (24px, 700, 1.16);
  letter-spacing: 0.03em;
  color:$accent-color;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address-list-item {
  font-family: $main-font;
  @include font (14px, 400, 1.714);
  letter-spacing: 0.03em;
}
.footer-location {
  color: $white-color;
}
  .footer-mail,
  .footer-tel {
    @include font (14px, 400, 1.714);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-mail:hover,
  .footer-tel:hover,
  .footer-mail:focus,
  .footer-tel:focus
   {color: $accent-color;
  }


.footer-logo-address {
margin-bottom: 60px;
}



.connect {
  font-family: $main-font;
  @include font (14px, 700, 1.143);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-list-item:not(last-child) {
      margin-right: 10px;
    }
    
  

  .footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color:  rgba(255, 255, 255, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
          background-color: $accent-color;
        }
      }
  

  .footer-social-list-icon {
      fill: $white-color;
      width: 20px;
      height: 20px;
      align-items: center;

    .footer-social-list-link:hover &,
    .footer-social-list-link:focus & {
          fill: $white-color
        }
  }
  
  .footer-connect {
    margin-bottom: 60px;
  }

  .join-up {
    display: block;
    text-align: center;
    color: $white-color; 
    @include font (14px, 700, 1.143);
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    margin-bottom: 20px;
    
    
  }
  .subscription-form {
  display: block;
  align-items: center; 
  text-align: center;
  justify-content: center;
  }
  
    .footer-email {
      padding: 15px 16px;
      min-width: 450px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background-color: #2F303A;
      color: $white-color;
      margin-bottom: 20px;

      &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
      }
  }
  
  
  .email-btn{
    position: relative;
    display: block;
    @include font (16px, 700, 1.875);
    text-align: left;
    
    border-radius: 4px;
    border: none;

    min-width: 200px;
    min-height: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 29px;
      margin: auto;
    

    cursor: pointer;
    color: $white-color;
    background-color: $accent-color;
    letter-spacing: 0.06em;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $white-color;
  }
  }
  
  .icon-send {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
  }
  
  @media screen and (min-width: 768px)  {

    .footer-container-connect {
      flex-direction: column;
      margin-top: auto;
    }
    .footer-main-contacts {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    .footer-logo-address {
      margin-right: 165px;
    }

  }

  @media screen and (min-width: 1200px) {
    .footer {
      display: flex;
      padding-bottom: 50px;
  }
  .footer-container-address {
    display: flex;
    align-items: baseline;
  }
  
  .footer-logo {
    @include font (26px, 700, 1.192);
  }
  .footer-address-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-logo-address{
    margin-right: 70px;
    margin-bottom: 0px;
  }
  
  .footer-connect {
    margin-right: 93px;
    margin-bottom: 0px;
  }
  
  .footer-main-contacts{
    text-align: left;  
  }
  .join-up {
    text-align: left;
  }
  .subscription-form {
  display: flex;

  }
  .footer-email {
    min-width: 358px; 
    margin-right: 12px;
    margin-bottom: 0px;
  }
 

 
 
  

}